@use '/src/shared/styles/theme.scss' as theme;

.base {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 100%;
  height: 100%;
}

.text {
  animation-duration: 4s;
  animation-name: LoaderElement;
  animation-direction: alternate;
  animation-fill-mode: both;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: theme.$font_size_lg;
}

@keyframes LoaderElement {
  0% {
    fill: transparent;
    stroke: theme.$accent_main;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: transparent;
    stroke: theme.$accent_main;
  }
  80% {
    fill: theme.$primary_main;
    stroke: theme.$primary_main;
    stroke-width: 3;
  }
  100% {
    fill: theme.$primary_main;
    stroke: theme.$primary_main;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
