.base {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(-4px);
  overflow-y: scroll;
  animation-name: FadeInAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes FadeInAnimation {
  from {
    opacity: 0;
    filter: blur(-4px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
