@use '/src/shared/styles/theme.scss' as theme;
@use '/src/shared/styles/break-points.scss' as bp;

.base {
  padding: theme.$spacing_md;
  padding-top: theme.$spacing_sm;
  padding-bottom: theme.$spacing_md;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 35rem;
  max-height: 40rem;
  box-shadow: theme.$box_shadow_lg;
  background-color: theme.$secondary_main;
  border-radius: theme.$border_radius_sm;
}

.textContainer {
  position: relative;
  width: 100%;
  margin-top: theme.$spacing_md;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  mask-image: linear-gradient(180deg, #000 80%, transparent);
  overflow-y: scroll;
}

.title {
  color: theme.$neutral_white;
}

.text {
  padding: 1rem;
  word-break: keep-all;
  color: theme.$neutral_white;
  overflow: hidden;
}

@include bp.tablet {
  .base {
    padding: theme.$spacing_lg;
    padding-top: theme.$spacing_sm;
    padding-bottom: theme.$spacing_xl;
  }
}
