.base {
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.links {
  margin-right: 0.5rem;
  flex: 1;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;
  display: flex;
  // justify-content: space-around;
  align-items: center;
}
