*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent !important;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  min-width: 320px;
}

#portfolio {
  position: relative;
}

ul,
ol {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--accent-9);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-12);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
