.utility {
  /* === Typography === */
  --font-size-xs: clamp(1.2rem, 3vw + 0.5rem, 1.6rem);
  --font-size-sm: clamp(1.6rem, 3.5vw + 0.5rem, 2rem);
  --font-size-md: clamp(2.4rem, 4vw + 0.5rem, 3.6rem);
  --font-size-lg: clamp(3rem, 5vw + 0.5rem, 4.8rem);
  --font-size-xl: clamp(3.6rem, 6vw + 0.5rem, 6.4rem);

  --font-main: 'Inter', sans-serif;
  --font-mono: 'Fira Code', monospace;

  /* === Transitions === */
  --transition-sm: 150ms ease-in-out;
  --transition-md: 300ms ease;
  --transition-lg: 500ms ease;

  /* === Border Radius === */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  /* === Colors === */
  --color-success: #28a745;
  --color-success-contrast: #ffffff;
  --color-error: #dc3545;
  --color-error-contrast: #ffffff;
  --color-warning: #ffc107;
  --color-warning-contrast: #0a0a0a;
  --color-info: #17a2b8;
  --color-info-contrast: #ffffff;

  /* === Shadows === */
  --shadow-color: 0 0% 60%;
  --shadow-xs: 0 1px 2px hsl(var(--shadow-color) / 0.1);

  --shadow-sm:
    0 1px 3px hsl(var(--shadow-color) / 0.15),
    0 1px 2px hsl(var(--shadow-color) / 0.1);
  --shadow-md:
    0 4px 6px hsl(var(--shadow-color) / 0.1),
    0 2px 4px hsl(var(--shadow-color) / 0.06);
  --shadow-lg:
    0 10px 15px hsl(var(--shadow-color) / 0.1),
    0 4px 6px hsl(var(--shadow-color) / 0.05);
  --shadow-xl:
    0 20px 25px hsl(var(--shadow-color) / 0.1),
    0 10px 10px hsl(var(--shadow-color) / 0.04);
  --shadow-2xl: 0 25px 50px hsl(var(--shadow-color) / 0.15);
  --shadow-inner: inset 0 2px 4px hsl(var(--shadow-color) / 0.06);

  --shadow-right-xs: 1px 0 2px hsl(var(--shadow-color) / 0.1);
  --shadow-right-sm:
    2px 0 4px hsl(var(--shadow-color) / 0.12),
    1px 0 2px hsl(var(--shadow-color) / 0.08);
  --shadow-right-md:
    4px 0 6px hsl(var(--shadow-color) / 0.1),
    2px 0 4px hsl(var(--shadow-color) / 0.06);
  --shadow-right-lg:
    8px 0 12px hsl(var(--shadow-color) / 0.08),
    4px 0 6px hsl(var(--shadow-color) / 0.04);
}

:root[data-theme='light'] {
  --text: #040316;
  --bg: #ffffff;
  --primary: #ffdd00;
  --secondary: #8b9897;
  --accent: #1b0052;
}
:root[data-theme='dark'] {
  --text: #eae9fc;
  --bg: #000000;
  --primary: #ffdd00;
  --secondary: #677473;
  --accent: #c9adff;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #040316;
    --bg: #ffffff;
    --primary: #ffdd00;
    --secondary: #8b9897;
    --accent: #1b0052;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #eae9fc;
    --bg: #000000;
    --primary: #ffdd00;
    --secondary: #677473;
    --accent: #c9adff;
  }
}
