@use '/src/shared/styles/theme.scss' as theme;

.base {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: margin;
  transition-duration: theme.$transition_medium;
  margin-left: -11rem;
  height: 6rem;
  width: 17rem;
  box-shadow: theme.$box_shadow_sm;
  &:hover {
    margin-left: -1rem;
  }
}

.link {
  width: 100%;
  padding-inline: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkOdd {
  color: theme.$secondary_contrast_text;
  background-color: theme.$secondary_main;
}

.linkEven {
  color: theme.$primary_contrast_text;
  background-color: theme.$primary_main;
}
