@use '/src/styles/break-points.scss' as bp;

.base {
  display: none;
  isolation: isolate;
  position: fixed;
  left: 0;
  top: 35%;
  flex-direction: column;
  z-index: 100;
}

@include bp.desktop {
  .base {
    display: flex;
  }
}
