@use '/src/shared/styles/theme.scss' as theme;
@use '/src/shared/styles/break-points.scss' as bp;

.base {
  color: theme.$neutral_white;
  background: theme.$primary_main;
  padding: 1rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
  font-size: theme.$font_size_xs;

  &::before,
  &::after {
    position: absolute;
    transition: all 0.3s;
    content: '';
    width: 0;
    bottom: 0;
    background: theme.$secondary_main;
    height: 100%;
    transform: skewX(20deg);
    z-index: -1;
  }

  &::before {
    left: -10%;
  }

  &::after {
    right: -10%;
  }

  &:hover {
    &::before,
    &::after {
      width: 62%;
    }
  }
}

@include bp.tablet {
  .base {
    font-size: theme.$font_size_sm;
    padding-inline: 2rem;
  }
}

@include bp.laptop {
  .base {
    padding: 1rem;
    padding-inline: 2rem;
  }
}
