@use '/src/shared/styles/theme.scss' as theme;
@use '/src/shared/styles/break-points.scss' as bp;

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: theme.$spacing_sm;
  padding-top: theme.$spacing_sm;
  max-width: 35rem;
  min-height: 30rem;
  box-shadow: theme.$box_shadow_lg;
  border-radius: theme.$border_radius_sm;
  overflow: hidden;
}

.h1Container {
  position: relative;
  padding: theme.$spacing_sm;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headInView {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: theme.$neutral-white;
    animation-name: afterFrames;
    animation-duration: theme.$transition-medium;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
}

.title {
  width: min-content;
  text-align: center;
  word-spacing: 100vw;
  overflow: hidden;
  text-transform: uppercase;
  color: theme.$neutral-white;
}

.paragraphContainer {
  padding: 1rem;
  position: relative;
  width: 100%;
  margin-top: theme.$spacing_sm;
}

.paragraph {
  width: 100%;
  text-align: justify;
  word-break: keep-all;
  color: theme.$neutral-white;
}

.buttonContainer {
  margin-top: theme.$spacing_lg;
  margin-bottom: theme.$spacing_lg;
  position: relative;
  align-self: center;
}

@include bp.tablet {
  .wrapper {
    max-width: 45rem;
    padding: theme.$spacing_sm;
    padding-top: theme.$spacing_sm;
  }
}

@keyframes afterFrames {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
