@use '/src/shared/styles/theme.scss' as theme;
@use '/src/shared/styles/break-points.scss' as bp;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: theme.$secondary_main;
  @include bp.phone {
    flex-direction: column;
  }
}

.title {
  color: theme.$primary_main;
  font-size: theme.$font_size_sm;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // Optional: add some spacing around the image
  padding: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.textWrapper {
  flex: 1;
  padding: 1rem;
  text-align: left;

  // On mobile devices, center text
  @media (max-width: 768px) {
    text-align: center;
  }
}

.text {
  font-size: theme.$font_size_sm;
  line-height: 1.6;
}

/* When image should be on the left */
.imageLeft {
  flex-direction: row;
  @include bp.phone {
    flex-direction: column;
  }

  // Order: image first, then text
  .imageWrapper {
    order: 0;
  }
  .textWrapper {
    order: 1;
  }
}

/* When image should be on the right */
.imageRight {
  flex-direction: row;
  @include bp.phone {
    flex-direction: column;
  }

  // Order: text first, then image
  .textWrapper {
    order: 0;
  }
  .imageWrapper {
    order: 1;
  }
}
