@use '/src/shared/styles/theme.scss' as theme;

.base {
  font-weight: normal;
  padding: theme.$spacing_sm;
  color: theme.$primary_contrast_text;
  background-color: theme.$primary_main;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  transition-property: color, background-color;
  transition-duration: theme.$transition_medium;

  &:hover {
    color: theme.$primary_main;
    background-color: theme.$primary_contrast_text;
  }
}
