// Title.module.scss
@use '/src/shared/styles/theme.scss' as theme;

.wrapper {
  position: relative;
  padding: theme.$spacing_sm;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: theme.$secondary_main;
  }
}

.title {
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}

.titleInView {
  &::after {
    animation-name: afterFrames;
    animation-duration: theme.$transition_slow;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
}

@keyframes afterFrames {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
